<div class="bg-dark text-light p-5">
  <h1 class="text-center text-warning">Control Flow</h1>
  <div class="container">
    <div class="row">
      <!-- @for(product of products; track product.id;let i = $index){

      <div class="col-sm-3">
        <div class="bg-light p-4 text-dark rounded">
          <h4>Track Name : {{ product.name }} : {{ i }} : {{ $even }}</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, vel?
          </p>
        </div>
      </div>
      }@empty {
      <div class="alert alert-danger">No Tracks To Show</div>
      } -->
      <hr />
      <!-- @switch (color) { @case('red'){
      <div class="bg-danger p-3 rounded m-3">this is red</div>
      } @case('green'){
      <div class="bg-success p-3 rounded m-3">this is green</div>
      } @case('blue'){
      <div class="bg-primary p-3 rounded m-3">this is blue</div>
      } @default{
      <div class="bg-light text-dark p-3 rounded m-3">this is default</div>
      } } -->
      <hr />
      <!-- @if(flag){

      {{ second }}
      }@else if(!flag) {
      <p class="bg-danger">Else Block</p>
      }@else{} -->
    </div>
  </div>
</div>
