<div class="mt-5 container">
  <h1 class="text-muted text-center">Our Products</h1>
  <div class="row mt-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th scope="row">{{ product.id }}</th>
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.quantity }}</td>
          <td>
            <i
              [routerLink]="['/products', product.id]"
              class="mx-1 fs-5 text-warning bi bi-eye-fill"
            ></i>
            <i
              [routerLink]="['/products', product.id, 'edit']"
              class="mx-1 fs-5 text-info bi bi-pencil-square"
            ></i>
            <i
              (click)="deleteHandler(product.id)"
              class="mx-1 fs-5 text-danger bi bi-trash3-fill"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
