body{
    background-color: #eee;
}

div{
    background-color: #aaa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button{
    background-color: blueviolet;
    border:none
    ;padding:5px
;cursor: pointer;
margin: 10px;
display: block;
}
p{
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
}

.myP{
    font-size: 20px;
}
input{
    display: block;
    border: none;
    outline: 0;
    padding: 5px;
    border-radius: 4px;
}
.jsClass{
    background-color: #3d1c72;
    color:#fff;
    padding: 20px;
}


a{
    display: block;
    margin-bottom: 20px;
}

img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

#errorMsg{
    color: rgb(251, 63, 63);
    margin-top: 5px;
    display: none;
}

.first{
    width: 300px;
    height:  300px;
    background-color: green;
}

.second{
    width: 200px;
    height: 200px;
    background-color: rgb(15, 46, 138);
}

.third{
width: 100px;
height: 100px;
}